.Layout {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    display: grid;
    grid-template-rows: 5vh 1fr;
    grid-template-columns: 1fr;
    color: #cccccc;
}

.header {
    grid-row: 1;
    grid-column: 1;
    background-color: #404040;
    display: flex;
    position: relative;
}

.header img {
    max-width: 60%;
    max-height: 60%;
    padding: 12px;
    position: absolute;
}

.header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

.header nav a {
    color: #cccccc;
    text-decoration: none;
    padding: 10px;
}

.container {
    grid-row: 2;
    grid-column: 1;
    background-color: #262626;
    padding: 13px;
    padding-bottom: 0;
}