:root {
  --space-size_1: 13px;
}

.my_masonry_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  vertical-align: middle;
  margin-left: -10px;
  height: 100%;
  width: 100%;
}

.my_masonry_grid_column {
  padding-left: 10px;
  background-clip: padding-box;
  width: auto !important;
}


.my_masonry_grid_column>div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.flow_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.flow_item_stage {
  width: 100%;
  height: auto;
  background-color: #808080;
  margin: 1rem 0;
}

.flow_item_stage[data-stage-active="true"] {
  background-color: #55706d;
  padding: calc(var(--space-size_1) / 2) 0;
}

.flow_item_text {
  width: calc(100% - var(--space-size_1) * 2);
  height: auto;
  background-color: #404040;
  border-radius: 6px;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: .8rem;
  padding: 1px 0;
  margin: .5em var(--space-size_1);
}
.flow_item_text span {
  margin: .8em 1em;
  display: block;
}

.flow_item_asset {
  width: calc(100% - var(--space-size_1) * 2);
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: .5em var(--space-size_1);
}

.flow_item_action_btn {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flow_item_action_btn>img {
  height: 100%;
}

.flow_item {
  width: 85%;
  max-width: 350px;
  height: 100%;
  display: flex;
}

.flow_item_left {
  width: 20%;
  height: 100%;
  border-radius: 6px 0 0 6px;
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
  z-index: 99;
  background-color: #c05f4c;
  display: flex;
  justify-content: center;
}

.flow_item_left>img {
  height: 100%;
  display: block;
}

.flow_item_right {
  width: 80%;
  height: 100%;
  background-color: #ca7e7f;
  box-shadow: 3px 0 4px 2px rgb(0 0 0 / 10%);
  border-radius: 0 6px 6px 0;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: 1rem;
  line-height: 275%;
  padding-left: 8px;
}