:root {
  --space-size_1: 13px;
}

.my_masonry_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  vertical-align: middle;
  margin-left: -10px;
  height: 100%;
  width: 100%;
}

.my_masonry_grid_column {
  padding-left: 10px;
  background-clip: padding-box;
  width: auto !important;
}

.my_masonry_grid_column>div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flow_container::-webkit-scrollbar {  
  display: none;
}

.flow_line {
  width: 5px;
  height: calc(75%);
  background-color: #cbcbcb;
  position: absolute;
  left: calc(100% / 2);
  right: calc(100% / 2);
  z-index: 0;
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
}

.flow_line::after {
  width: 55px;
  height: 55px;
  border-radius: 200px;
  background-color: #cbcbcb;
  content: '+';
  position: absolute;
  bottom: -55px;
  left: -26px;
  color: grey;
  font-size: 4.5rem;
  text-align: center;
  line-height: 55%;
}

.flow_item_stage {
  width: 100%;
  height: auto;
  background-color: #808080;
  margin: 1.4rem 0;
  padding: calc(var(--space-size_1) / 2) 0;
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
  z-index: 1;
  position: relative;
}

.flow_item_stage[data-stage-active="true"] {
  background-color: #55706d;
}

.flow_item_stage[data-stage-type]::before {
  width: 5px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
}

.flow_item_stage[data-stage-type="choices"]::before {
  background-color: #d69f6d;
}

.flow_item_stage[data-stage-type="end"]::before {
  background-color: #7849cf;
}

.flow_item_stage_dummy {
  width: 100%;
  min-height: 200px;
  margin: 1.4rem 0;
  padding: calc(var(--space-size_1) / 2) 0;
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
  z-index: 1;
  visibility: hidden;
}

.flow_item_text {
  width: calc(100% - var(--space-size_1) * 2);
  height: auto;
  background-color: #404040bf;
  border-radius: 6px;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: .8rem;
  padding: 1px 0;
  margin: .5em var(--space-size_1);
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
  position: relative;
}

.flow_item_text label {
  position: absolute;
  top: -8px;
  left: 8px;
  width: 20%;
  border-radius: 6px;
  display: block;
  background-color: #737373;
  text-align: center;
  font-size: .7rem;
}

.flow_item_text span {
  margin: .7em 1em .4em 1em;
  padding-left: 5px;
  display: block;
}

.flow_item_asset {
  width: calc(100% - var(--space-size_1) * 2);
  height: 30px;
  display: flex;
  justify-content: space-around;
  margin: .3em var(--space-size_1);
  position: relative;
}

.arrow {
  position: absolute;
  width: 35px;
  height: 25px;
  top: -.3em;
  left: 1.3em;
  border-left: 2px solid #cacac9;
  border-bottom: 2px solid #cacac9;
  border-radius: 0 0 0 6px;
}

.flow_item_action_btn {
  width: 18%;
  height: 100%;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow_item_action_btn>span {
  padding: 2px;
  transition: .6s;
  border-radius: 25px;
  color: #404040bf;
}

.flow_item_action_btn>span[data-action-type="add"] {
  background-color: #5bce7c;
}

.flow_item_action_btn>span[data-action-type="remove"] {
  background-color: #d33d51;
}

.flow_item_action_btn>span[data-action-type="change"] {
  background-color: #d2a07b;
}

.flow_item_action_btn>span:hover {
  transform: rotate(360deg);
}

.flow_item {
  width: 82%;
  height: 100%;
  display: flex;
}

.flow_item_left {
  width: 15%;
  height: 100%;
  border-radius: 6px 0 0 6px;
  box-shadow: -3px 0 4px 2px rgb(0 0 0 / 10%);
  background-color: #c05f4c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow_item_left>span {
  display: block;
  font-size: 2rem;
}

.flow_item_right {
  width: 85%;
  height: 100%;
  background-color: #ca7e7f;
  box-shadow: 3px 0 4px 2px rgb(0 0 0 / 10%);
  border-radius: 0 6px 6px 0;
  font-family: 'ヒラギノ角ゴ ProN W3';
  font-size: .9rem;
  line-height: 230%;
  padding-left: 8px;
}

.flow_item_add_stage_btn {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow_item_add_stage_btn > span {
  padding: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 25px;
  color: #404040bf;
  background-color: #5bce7c;
}